.my-card {
    margin-bottom: 16px;
  }

  @media (max-width: 767px) {
    .centered-card {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  img {
    width: 190px;
    height: 130px;
  }